@media (max-width: 480px) {

  /*Đặt ảnh đại diện avatar*/
  .big-container {
    position: relative;
  }

  .avatar {
    position: absolute;
    top: 44%;
    /* left: 43.5%; */
    z-index: 10;
  }

  /*Banner section*/

  .section-title {
    display: grid;
    position: relative;
    height: 300px;
    z-index: -1;
  }
  .title-name-job {
    position: absolute;
    top: 20%;
    left: 50%;
    transform: translate(-50%, -50%);
    font-family: open_sanssemibold, sans-serif;
  }

  .title-pic {
    width: 100%;
    height: 100%;
    object-fit: cover;
    filter: brightness(75%);
  }
  
  
  /*Navigation section*/
  .d-xs-block {
    display: block !important;
  }
  .nav-item {
    padding: 5px 0px;
  }

  /*Project Section*/
  .project-title p:first-child {
    width: 50px;
  }
}

