@media (min-width: 481px) {
  /*Đặt ảnh đại diện avatar*/
  .big-container {
    position: relative;
  }

  .avatar {
    position: absolute;
    top: 44%;
    /* left: 43.5%; */
    z-index: 10;
  }

  /*Banner section*/

  .section-title {
    display: grid;
    position: relative;
    height: 500px;
    z-index: -1;
  }
  .title-name-job {
    position: absolute;
    top: 20%;
    left: 50%;
    transform: translate(-50%, -50%);
    font-family: open_sanssemibold, sans-serif;
  }

  .title-pic {
    width: 100%;
    height: 100%;
    object-fit: cover;
    filter: brightness(75%);
  }

  
  /* nav bar */
  #nav-bar {
    margin: 0;
  }

  /*.avatar {
    width: 0;
    border: 0;
  } */

  /* project */
  .cv {
    font-size: 14px;
  }

  table, .project p {
    font-size: 10px;
  }
  /* footer */
  #footer a {
    font-size: 80%;
  }
  /* digtal-cv */
  .grid {
    display: block;
  }
}
