@media (max-width: 575.98px) {
  /*Navigation section*/
  .d-xs-block {
    display: block !important;
  }
  .nav-item {
    padding: 5px 0px;
  }

  /*Project Section*/
  .project-title p:first-child {
    width: 50px;
  }
}

